<div class="container mt-3">
    <div class="row">
        <div class="col-md-6"></div>
            <h2>Daftar Kontak</h2>
         <div class="tombol">
            <a href="/contact/add" class="btn btn-primary">Tambah Kontak</a>
        </div>
            <% if (msg.length !== 0) { %>
            <div class="alert alert-success" role="alert" id="waktu"><%= msg %></div>
            <% } %>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Email</th>
                        <th scope="col">No. Handphone</th>
                        <th scope="col">Keterangan</th>
                        <th scope="col">Detail Kontak</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (contacts.length === 0){ %>
                        <tr>
                            <td colspan="4">
                                <div class="alert alert-danger d-flex align-items-center" role="alert">
                                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                    <div>
                                        Data contact masih kosong <br>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    <% } %>
                    <% contacts.forEach((contact, i) => { i++ %>
                        <tr>
                            <th scope="row"><%= i %></th>
                            <td><%= contact.nama %></td>
                            <td><%= contact.email %></td>
                            <td><%= contact.noHp %></td>
                            <td><%= contact.keterangan %></td>
                            <td>
                                <a href="/contact/<%= contact.nama %>" class="btn btn-success badge rounded-pill"><i class="bi bi-info-circle"></i>Detail</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
          </table>
    </div>
</div>
<!-- <script>
    let s = 0;
     let waktu = setInterval(() => {
        document.getElementById("waktu").innerHTML= "Contact berhasil ditambahkan";
        s++;
    }, 1000);
    </script> -->